@model bool

@{
ViewData["Title"] = "Головна";
}

<div class="text-center">
  <h1 class="display-4">Ласкаво просимо</h1>
  <p>Дізнайтеся більше про <a href="https://docs.microsoft.com/aspnet/core">створення вебзастосунків з ASP.NET Core</a>.</p>
</div>

@if (Model)
{
<h1>Авторизовано</h1>
}
else
{
<h1>Не авторизовано</h1>
}
